.name
  p #{data.name}

ul.stats
  li AB
    span #{data.stats.AB}
  li H
    span #{data.stats.H}
  li 2B
    span #{data.stats['2B']}
  li 3B
    span #{data.stats['3B']}
  li HR
    span #{data.stats.HR}
  li RBI
    span #{data.stats.RBI}
  li R
    span #{data.stats.R}
  li BB
    span #{data.stats.BB}
  li SO
    span #{data.stats.SO}
  li SF
    span #{data.stats.SF}

